@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
    
  }
  
  
  *::-webkit-scrollbar {
    width: 1px;
  }